
*{

box-sizing: border-box;
padding: 0;
margin: 0;

}
body{

    background-color:whitesmoke
}

.nav-bar{
background-color: red;
text-align-last: left;

}

.nav-bar ul{
    display: inline-flex;
    list-style: none; 

}

.nav-bar ul li{
    width: 150px;
    padding: 10px;
    margin-right: 74px;
}

.nav-bar ul li a{
    text-decoration: none;
    color: white;

}




.container {
display: flex;
justify-content:center;
align-items: center;
padding: 150px;


}

.card {

background-color: white;
width: 200px;
height: 350px;
margin: 10px;
border-radius: 15px;

}

.card-image{


height: 170px;
margin-bottom: 15px;
background-size: cover;

}
.card-1{
background-image: url(images/card-1.PNG);

}
.card-2{
    background-image: url(images/card-2.PNG);
    
    }
    .card-3{
        background-image: url(images/card-3.PNG);
        
        }
        .card:hover{

background-color: rgba(223, 130, 130, 0.925);

color: white;
cursor: pointer;
transform: scale(1.03);
transition: all 1s ease;

        }

        .div-footer {
            background-color: red;
            color: white;
            width: 100%;
            height: 40px;
            bottom: 0;
            position: static;
            text-align: center;
            padding: 10px;
            margin: auto;
          }
